.main {
    margin-top: 5.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardCat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
}